.container{
    height : 80vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
}

.container1{
    height: 80vh;
    width:70vw;
}

.cardtop {
    height:40vh;
    background-color: red;
}

.cardbottom {
    height:40vh;
    background-color: orange;
}

.cardright{
    height:80vh;
    width : 30vw;
    background-color: yellow;
}


header {
    width: 100vw;
    height: 5vh;
    background-color: rgb(209,210,212); 
}

footer {
    width: 100vw;
    height: 5vh;
    background-color: rgb(209,210,212);
}

@media (max-width:1440px) and (min-width:376px){
    .container1{
        height: 80vh;
        width:50vw;
        background-color: violet;
    }

    .cardright{
        height:80vh;
        width : 50vw;
        background-color: yellow;
    }
}


@media (max-width:375px){
    .container{
        height : 80vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
        background-color: lightgreen;
        display: flex;
        flex-direction: column;
    }

    .container1{
        height: 50vh;
        width:100vw;
        background-color: violet;
    }

    .cardtop {
        height:25vh;
        background-color: red;
    }
    
    .cardbottom {
        height:25vh;
        background-color: orange;
    }

    .cardright{
        height:30vh;
        width : 100vw;
        background-color: yellow;
    }

}