body {
    padding : 0rem;
    margin : 0rem;
}

.container {
    height : 80vh;
    width: 100vw;
    margin-top : 5vh;
    margin-bottom : 5vh;
    display: flex;
}

.container1{
    height : 80vh;
    width : 20vw;
    background-color : rgb(11,148,68);
}

.container2{
    height : 80vh;
    width : 60vw;
    background-color: rgb(140,198,63);
}

.container3{
    height : 80vh;
    width : 20vw;
    background-color: rgb(245,238,49);
}

header {
    background-color: rgb(209,210,212);
    height:5vh;
    width:100vw;
}

footer {
    background-color: rgb(209,210,212);
    height:5vh;
    width:100vw
}

@media (max-width : 1440px) and (min-width:376px){

    .container {
        flex-wrap : wrap;
    }
    .container2{
        height : 50vh;
        width : 100vw;
        order : -1;
    }

    .container1{
        height : 30vh;
        width : 50vw;
    }
    
    .container3{
        height : 30vh;
        width : 50vw;
    }
}

@media (max-width:375px) {
    .container {
        flex-direction: column;
    }

    .container1 {
        width:100vw;
        height: 20vh;
    }

    .container2 {
        width:100vw;
        height: 45vh;
        order:-1;
    }

    .container3 {
        width:100vw;
        height: 20vh;
    }
}